.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header-Text-Container {
  padding: 24px;
}

.Header-Text {
  font-size: large;
  font-weight: 600;
}

.Header-Buttons {
  padding: 24px;
  display: flex;
  flex-direction: row;
}

.App-header-button {
  margin: 12px;
  background-color: aqua;
}
